/* Global Rulse */
body{
 height:5000px;
}

.container{
    width:1200px;
    margin:auto;
}
/* Start Slider stiles */
    header .intro{
        background-image: url("Images/slider.jpg");
        height:500px;
        background-size: cover;
        text-align: center;
    }
    .intro .elements{
        padding-top:20vh;
    }
    .intro .elements h1{
        color: darkslategray;
        font-size: 50px;
        border-top: 2px solid darkslategray;
        width: 600px;
        margin: 0 auto;
        border-bottom: 2px solid darkslategray;
        padding: 10px;
        margin-bottom: 10px
    }
    .intro .elements button{
        background: none;
        margin-top: 30px;
        border: 2px solid darkslategray;
        width: 150px;
        height: 40px;
        font-weight: 600;
    }

/* End Slider stiles */
/* navbar styles */
nav{
    background-color:#252F31;
    overflow: hidden;
    color:#ffffff;
}
nav h2{
    float:left;
    
}
nav h2 span{
    color:#1AA262;
}

nav ul{
    list-style: none;
    overflow: hidden;
    float:right;
    padding-left: 0px;
}
nav ul li{
    float:left;
    padding:10px;
}
nav ul li a{
    text-decoration: none;
    color: lightgray;
}
nav ul li a:hover{
    color:#1AA262;
}

/* END OF NAV STYLES */

/* START OF VALUES STYLES */
.features{
    overflow: hidden;
    padding:30px 0px;
}
.features .char{
    float:left;
    width:33.33%;
}
.features .char h2{
    color:#ABABAB;
}
.features .char p{
    color: #CACACA;
}

/* END OF VALUES STYLES */
/* STRAT ABOUT ME RULSE */
.about-me{
    background-color: lightgray;
    overflow: hidden;
}
.about-me .image{
    float:left;
    width:40%;
    overflow: hidden;
}
.about-me .info{
    float:left;
    width:60%
}
.about-me .info h2{
    margin: 20px 30px;
}
.about-me .info >p{
    margin: 20px 30px;
}
.about-me .info .hobbies{
    margin:20px 30px;
}
.about-me .info .hobbies .icon{
    float:left;
    width:10%;
    margin-top:20px;
}
.about-me .info .hobbies .text{
    float:left;
    width:90%;
}
.about-me .info .hobbies .icon img{
    width:25px;
}
.about-me .info .hobbies > div{
float:left;
width:50%;
min-height: 150px;
}
/* END ABOUT ME RULSE */
/* Start My Skills */
.my-skills .skills{
    width:50%;
    float:left;
    padding-right: 30px;
}
.my-skills .skills h2{
    color:#4D565B;
}
.my-skills .skills > p{
    margin-bottom:40px;
    color:#B5B5B5
}
.my-skills .skills button,
.resume .download-resume
{
    background-color: transparent;
    border: solid 2px #1AA262;
    width: 120px;
    height: 40px;
    color: #1AA262;
}
.my-skills .progress{
    float:left;
    width:40%;
    margin-top:46px;
}
.my-skills .progress .tech h3{
    margin-top:10px;
}
.my-skills .progress .tech div{
    height: 30px;
    background-color: #888;
}
.my-skills .progress .tech div span{
    width: 80%;
    background-color: #1AA262;
    display: inline-block;
    height: inherit;
    color: white;
    text-align: right;
    line-height: 32px;
}

/* End My Skills */
/* Start my resume */
.resume{
    padding:30px 0px;
    text-align: center;
    background-color: #F2F2F2;
    margin: 30px 0px;
}
.resume h2{
    color:#4D565B;
    text-transform: uppercase;

}
.resume p{
    color:#888
}
/* End my resume */
/* Start My Education */
.my-education .main{
    width:50%;
    float:left;
    margin-bottom:40px;
    color:#B5B5B5
}

.my-education .education-details{
    float:left;
    width: 44%;
    margin-left: 2%;
    color:#B5B5B5
}
.my-education .education-details .gpa{
    background-color: #777;
    height: 30px;
    width: 70px;
    margin: 15px 0px;
}
.my-education .education-details .gpa span{
    width: 100%;
    background-color: #1AA262;
    display: inline-block;
    height: inherit;
    color: white;
    text-align: center;
    line-height: 32px;

}
/* End My Skills */
/* Start My Experience */
.my-experience .main{
    width:50%;
    float:left;
    margin-bottom:40px;
    color:#B5B5B5
}
.my-experience .left-column{
    width:50%;
    float: left;
}

.my-experience .experience-details{
    float:left;
    width: 100%;
    margin-left: 2%;
    color:#B5B5B5
}
.my-experience .experience-details .exp{
    background-color: #777;
    height: 30px;
    width: 70px;
    margin: 15px 0px;
}
.my-experience .experience-details .exp span{
    width: 100%;
    background-color: #1AA262;
    display: inline-block;
    height: inherit;
    color: white;
    text-align: center;
    line-height: 32px;

}
/* End My experience */
/* Start my testimonials */
.testimonials{
    text-align: center;
    background-color: #F2F2F2;
}
.testimonials blockquote{
    padding: 35px 0px;
    line-height: 1.7;
  
}
.testimonials .main ul{
    list-style: none;
    padding-left: 0px;
}
.testimonials .main ul li{
    width: 10px;
    height: 10px;
    border: 1px solid lightgreen;
    border-radius: 6px;
    margin:0px 5px;
    display: inline-block;
}

/* End My testimonials */
/* Start Portfolio */
.portfolio{
    padding: 30px 0px;
}
.portfolio .main{
    text-align: center;
}
.portfolio .our-work > div{
    width:33.33%;
    float:left;
    margin-bottom: 10px;
}

.portfolio .our-work > div img{
    width:95%;
}

/* End Portfolio */
/* Start Contact me */
.contact-me{
    padding:30px 0px;
    margin-bottom: 10px;
    background-color: #252F31;
}
.contact-me .main{
    width:50%;
    float:left;
}
/* End Contact me */
/* Start Footer */
.footer{
    text-align: center;
    background-color: #191E22;
    color:lightgray;
}
/* End Footer */